div {
	border: 1px solid black;
}
.first {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 50px;
	margin-left: 100px;
	margin-top: 10px;
	
}

















.row1 {
	border-bottom: 1px solid grey;
}

.mar {
	margin-left: 50px;
	
}
.span {
	color: red;
	font-size: 25px;
}
.mid-picture{
	background-image: url("logo.gif");
	background-repeat: no-repeat;
    background-position: right bottom;
}
.middle {
	height: 180px;
	background-color: grey;
}
.mid-text{
	color: white;
}
.page {
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}
.form-group {
	margin-top: 10px;
	width: 100%;
	margin-bottom: 20px;
}
.span-bloc {
	display: block;
	margin-bottom: 20px;
	margin-left: 15px
}
.mybtn:hover {
	background-color: orange;
}

.footer {
	height: 50px;
	background-color: #595959;
}


.icon-1 i {
	margin-top: 20px;
	color: red;
	font-size: 50px;
}
.icon-1 {
	display: block;
	border: 2px solid grey;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	margin-top: 30px;
	background: white;
}
.ref-1 p {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}
.ref-1:hover .icon-1{
	background: red;
}
.ref-1:hover i {
	color: white;
}
.ref-1:hover, .ref-1{
	text-decoration: none;
	color: grey;
}
.block {
	background-color: #f2f2f2;
}
.span-2 {
	position: absolute;
	display: block;
	left: 5%;
	width: 90%;
	text-align: center;
}
.span-2-1 {
	top: 4%;
	height: 65%;
	border: 1px solid grey;
}
.span-2-2 {
	height: 13%;
	top: 69%;
	border: 1px solid grey;
	font-size: 25px;
}
.span-2-3 {
	height: 15%;
	top: 82%;
	border: 1px solid grey;
}
.span-2 a:hover {
	text-decoration: none;
}
.block2 {
	height: 350px;
	position: absolute;
}
.cover {
	float: left;
	position: relative;
	background-color: grey;
	width: 100%;
	top: 4%;
	height: 93%;
	z-index: 10;
	transition: height 1s;
	background-image: url("logo.gif");
	background-repeat: no-repeat;
    background-position: center;
}
.block2:hover .cover{
	height: 0px;
}












