<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head> 
     <meta charset="UTF-8"/> 
     <meta name="viewport" 
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/> 
     <meta http-equiv="X-UA-Compatible" content="ie=edge"/> 
     <link rel="stylesheet" href="style/main.css"/>
     <title>Document</title> 
 </head> 
<body>
	<div th:object="${prod}">
		<p th:text="${prod.productName}">text</p><br>
		<p th:text="${prod.howMany}">text</p><br>
		<p th:text="${prod.about}">text</p><br>
		<p></p>
		<p th:text="${path}"></p>
		<img th:each="path : ${prod.pictures}" alt="" th:src="@{${path.picturePath}}" style="height: 80px; width: 80px" />
		<div th:each="comment :${prodComent.comments}">
			<p th:text="${comment.comment}"></p>
		</div>
		<form action="" th:action="addComment" method="post">
			<label>enter your comment</label>
			<input type="text" th:name="commentText" placeholder="the coment"/>
			<input type="hidden" th:name="productId" th:value="${prod.id}" />
			<input type="submit" value="add coment">
			<input type="hidden"
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}"/>
		</form>
	</div>


</body>
</html>