<!doctype html> 
 <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" > 
 <head> 
     <meta charset="UTF-8"/> 
     <meta name="viewport" 
           content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/> 
     <meta http-equiv="X-UA-Compatible" content="ie=edge"/> 
     <link rel="stylesheet" href="style/main.css"/>
     <title>Document</title> 
 </head> 
<body>
	<h4>you can fill registration form there</h4><br>
	<div>
		<span th:text="${message}">some text</span>
		<form action="userReg" th:action="@{userReg}" th:object="${user}" method="post" enctype="multipart/form-data">
			<label>input your name</label><br>
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
			<input type="text" th:field="*{name}" placeholder=" name" /><br>
			
			<label>input your email</label><br>
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error message</p>
			<input type="text" th:field="${user.email}" placeholder="some@email" /><br>
			
			<label>chose your password</label><br>
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error message</p>
			<input type="password" th:field="${user.password}" placeholder="*******"/><br>
			
			<label>contact</label><br>
			<textarea name="contactInformation" rows=5 cols=30 placeholder="put there contact information"></textarea><br>
			
			<label>chose your photo</label><br>
			<input type="file" name="userPhoto"/><br>
			
			<input type="submit" value="go !!1"/>
			<input	type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	
	</div>
	
</body>
</html>